*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}
body{
display:flex;
 justify-content: center;
 align-items: center; 
min-height: 100vh;
background-color: #212121;
}
.container{

}